/*-----------------------------------------------------------------------------
 * Default CSS for pflanzen.winterhart.ch
 *---------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
 * General Settings
 *---------------------------------------------------------------------------*/

body,p,th,td
{
  font-family: helvetia, arial, sans-serif;
  font-size: 11px;
}

body
{
  margin: 0px;
  background: #444444;
}

img
{
  border:0;
}

.thumbnail
{
  width: 150px;
  height: 150px;
}

h1
{
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 10px;
}

h2
{
  font-weight: bold;
  font-size: 11px;
}

h3
{
  font-weight: bold;
  font-size: 11px;
}

a
{
  color: #000000;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
  color: rgb(102, 102, 102);
}

/*-----------------------------------------------------------------------------
 * DIV's
 *---------------------------------------------------------------------------*/

#header
{
  clear: both;
  text-align: left;
  background-color: #eeeeee;
  border: 1px solid #eeebe9;
  padding: 15px 10px;
  margin: 15px auto 0px;
  height: 30px;
  width: 90%;
  background-image: url(img/blume.png);
}

#toolbar
{
  text-align: left;
  width: 90%;
  margin: 0px auto;
  border-left: 1px solid #eeebe9;
  border-right: 1px solid #eeebe9;
  padding: 7px 10px;
  height: 13px;
  background-image: url(img/menu.png);
}

#toolbar a
{
  border: 1px solid #999999;
  padding: 3px;
  color: #000000;
  text-decoration: none;
}

#toolbar a:hover
{
  border: 1px solid #0a246a;
  padding: 3px;
  background-color: #c5c7d4;
  text-decoration: none;
}

#content
{
  clear: both;
  text-align: left;
  width: 90%;
  margin: 0px auto 0px;
  background-color: #FFFFFF;
  border: 1px solid #eeebe9;
  padding: 10px;
}

#footer
{
  clear: both;
  width: 90%;
  border-left: 1px solid #eeebe9;
  border-right: 1px solid #eeebe9;
  border-bottom: 1px solid #eeebe9;
  margin: 0px auto 15px;
  padding: 7px 10px;
  height: 13px;
  text-align: right;
  font-family: helvetia, arial, sans-serif;
  font-size: 11px;
  font-style: italic;
  background-image: url(img/menu.png);
}

/*-----------------------------------------------------------------------------
 * CLASS
 *---------------------------------------------------------------------------*/

.toolbar-menu
{
  margin: 0px 0px 0px;
  width: 70%;
  float: left;
}

.toolbar-menu a
{
  border: 1px solid #999999;
  padding: 3px;
  background-color: #eeeeee;
  text-decoration: none;
}

.toolbar-menu a:hover
{
  border: 1px solid #0a246a;
  padding: 3px;
  background-color: #c5c7d4;
  text-decoration: none;
}

.toolbar-right-menu
{
  margin: 0px 0px 0px;
  width: 20%;
  float: right;
  text-align: right;
}

.toolbar2-right-menu a
{
  border: 1px solid #999999;
  padding: 3px;
  background-color: #eeeeee;
  text-decoration: none;
}

.toolbar2-right-menu a:hover
{
  border: 1px solid #0a246a;
  padding: 3px;
  background-color: #c5c7d4;
  text-decoration: none;
}

.menu
{
  margin: 0px 0px 10px;
}

.menu a
{
  border: 1px solid #999999;
  padding: 3px;
  background-color: #eeeeee;
  text-decoration: none;
}

.menu a:hover
{
  border: 1px solid #0a246a;
  padding: 3px;
  background-color: #c5c7d4;
  text-decoration: none;
}

.menu .accesskey
{
  text-decoration: underline;
}

.menu-abc
{
  margin-top: 15px;
  margin-bottom: 20px;
}

.menu-abc a
{
  border: 1px solid #999999;
  padding: 2px;
  background-color: #eeeeee;
}

a.title-one
{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: #880d00;
}

a.title-one:hover
{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: rgb(204, 204, 204);
  text-decoration: none;
}

a.title-two
{
  font-size: 25px;
  font-weight: bold;
  color: #222222;
}    

a.title-two:hover
{
  font-size: 25px;
  font-weight: bold;
  color: rgb(204, 204, 204);
  text-decoration: none;
}       

/*-----------------------------------------------------------------------------
 * Framework CLASS
 *---------------------------------------------------------------------------*/

.sqltable
{
  width: 100%;
  border-collapse: collapse;
}

.sqltable th
{
  border: 1px solid #cccccc;
  background-color:#dddddd;
}

.sqltable td
{
  border: 1px solid #cccccc;
  padding: 2px;
}

.sqltable tr:hover
{
  background-color: #eeeeee;
  cursor: pointer;
}
  
.groupbox
{
  border: 1px solid #cccccc;
  margin-top:-7px;
  padding:10px;
}

.mainpage-caption td
{
  font-style: italic;
}

.mainpage-text td
{
  font-family: helvetia, arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 20px;
}
